@charset "utf-8";
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
strong, b, h1, h2, h3, h4, h5, h6{
  font-weight: normal;
}
em, i, address{
  font-style: normal
}
ol, ul, li{
  list-style: none;
}
button{
  border: 0;
  background-color: transparent;
}
a:link, a:visited, a:hover, a:active{
  color: #000;
  text-decoration: none;
}
table{
  border-collapse: collapse;
}